.previous, .next, .page {
  text-decoration: none;
  display: inline-block;
  background-color: var(--color-extra);
  color: var(--color-text);
  border-radius: 35%;
}

.previous:hover, .next:hover, .page:hover {
  background-color: var(--color-primary);
  color: var(--color-accent);
}

section {
  background-color: var(--color-text);
}

.head {
  border-bottom: 3px solid var(--color-primary);
}

.body {
  color: var(--color-secondary);
}

.peta {
  color: var(--color-text);
}
